*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    background: radial-gradient(circle at top center,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.score{
    display: flex;
    justify-content: space-between;
    border: 2px solid hsl(0, 1%, 50%);
    width: 50%;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 4rem;
    padding-left: 2rem;
}
.inner-score{
    background-color: white;
    width: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.number{
    font-size: 5rem;
    color: hsl(229, 25%, 31%);
}
span{
    color: hsl(229, 64%, 46%);
    font-size: 1.3rem;
    margin-bottom: -10px;
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }